body {
  background-color: #eef9bf;
  color: #75b79e;
  font-size: 56px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 47px;
}

.card {
  width: 117px;
  height: 146px;
  position: relative;
  margin-left: 34px;
  margin-bottom: 34px;
}
.face {
  width: 100%;
  height: 100%;
  background-color: #a7e9af;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

/* codigo para rotacionar a card: */
/* https://repl.it/@BootcampRespond/FlippedCards#index.html */
.back-face {
  transform: rotateY(180deg);
}

.back-face.show {
  transform: rotateY(0deg);
}

.front-face.hide {
  transform: rotateY(-180deg);
}
/* */

.card img {
  width: 85%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1092px;
  justify-content: space-evenly;
}

@media screen and (max-width: 614px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .card {
    margin-left: 0;
  }
  h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
}
